*{
  font-family: 'Times New Roman', Times, serif;  
}
.header
{
 background-color: #D9D9D9;
 padding: 17px;
 border-radius: 50px;
 margin: 20px;
 color: #000000;
 margin: auto;
 width: 1100px;
}/*background of the header*/
a{
    text-decoration: none;
    color: #000000;
}/*for the links*/
#back{
    background-color: #969292;
    padding: 10px;
    border-radius: 20px;
    margin-right: 220px;
} /*header background of the text*/
#back1{
    background-color: #969292;
    padding: 10px;
    border-radius: 20px;
    margin-right: 0px;
} /*header background for the booking box and adjusting its right side margin*/
